$bootstrap-icons-font-dir: "/static/fonts/bootstrap-icons";

$body-color: #696973;

$blue: #0069e1;
$purple: #7519e6;
$pink: #d50283;
$red: #e91b1d;
$orange: #ed8e27;
$yellow: #f8de2e;
$green: #008000;
$cyan: #1c7da3;
