{% load static i18n active_link_tags %}

<nav class="navbar navbar-expand bg-white shadow-sm">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img class="img-fluid" src="{% static "img/logo.png" %}" alt="IMI" width="24">
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% active_link "home" strict=True %}" href="{% url "home" %}">{% translate "Inici" %}</a>
        </li>
      </ul>
    </div>

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle rounded-circle" style="font-size: 24px" width="32" height="32" alt="{{ user.get_username }}"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end shadow-sm">
        {% if request.user.is_staff %}
          <li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Administració" %}</a></li>
          <li><hr class="dropdown-divider"></li>
        {% endif %}

        <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "Tancar sessió" %}</a></li>
      </ul>
    </div>
  </div>
</nav>